.desktop-header{
    width: 100%;
    height: 35vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @include setFlex(row, center, space-between, nowrap);
    .content{
        @include setFlex(row, center, space-between, nowrap);
        width: 80%;
        margin: 0 auto;
        h1{
            font-size: 23px;
            margin-bottom: .25em;
          }
          .desktop-total-followers{
            font-weight: 700;
            padding-bottom: 1.5em;
          }
          span.dark-mode{
              margin-right: 1em;
          }
    }
}


#dark{
  .desktop-header{
    background-color: $DT_VeryDarkBlueTOPBG;
  }
  .content{
    .desktop-total-followers{
      color: $DT_DesaturatedBlue;
      .theme-switch-container{
        color: $DT_DesaturatedBlue;
      }
    }
  }
}

#light{
  .desktop-header{
    background-color: $VeryPaleBlue;
    .content{
      h1{
        color: $VeryDarkBlue;
      }
      .desktop-total-followers{
        color: $DarkGrayishBlue;
      }
      .theme-switch-container{
        color: $DarkGrayishBlue;
      }
    }
  }
}