.mobile-header{
    width: 100%;
    padding: 3em 1.5em;
    background-color: $DT_VeryDarkBlueTOPBG;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    h1{
      font-size: 23px;
      color: $DT_White;
      margin-bottom: .25em;
    }
    .mobile-total-followers{
      color: $DT_DesaturatedBlue;
      font-weight: 700;
      padding-bottom: 1.5em;
    }
    .mobile-header-div-bar{
      border: 1px solid $DT_DarkDesaturatedBlue;
    }
  }

