@import "var";
@import "mixin";


.stat-card-container {
    position: relative;
    bottom: 2em;
    @include responsiveGrid(250px);
    place-content: center;
}

.stat-card {
    max-width: 250px;
    height: 215px;
    margin-bottom: 2em;
    border-radius: 5px;
    position: relative;
    min-width: 250px;
    &:last-of-type{
        align-self: center;
    }
    .color-bar {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: absolute;
        top: 0;
        height: 5px;
        width: 100%;

        &.fb {
            background-color: $Facebook;
        }

        &.ig {
            background: $Instagram;
        }

        &.tw {
            background-color: $Twitter;
        }

        &.yt {
            background-color: $YouTube;
        }
    }

    .content {
        @include setFlex(column, center, space-evenly, wrap);
        height: 100%;
        padding-top: .5em;

        .username {
            @include setFlex(row, center, space-between, nowrap);

            font-weight: 800;

            .social-icon {
                margin-right: .5em;
            }
        }

        .followers-cantity {
            font-size: 48px;
            font-weight: 700;
        }

        .followers-title {
            letter-spacing: 3px;
            font-weight: 700;
        }

        .followers-status {
            @include setFlex(row, center, space-between, nowrap);
            font-weight: 800;

            &.positive {
                color: $LimeGreen;
            }

            &.negative {
                color: $BrightRed;
            }

            img {
                margin-right: .5em;
            }
        }
    }
}