@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.stat-card-container {
  position: relative;
  bottom: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -moz-column-gap: 2em;
       column-gap: 2em;
  justify-items: center;
  width: 80%;
  place-content: center;
}
@media screen and (min-width: 1026px) and (max-width: 1140px) {
  .stat-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

.stat-card {
  max-width: 250px;
  height: 215px;
  margin-bottom: 2em;
  border-radius: 5px;
  position: relative;
  min-width: 250px;
}
.stat-card:last-of-type {
  align-self: center;
}
.stat-card .color-bar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: 0;
  height: 5px;
  width: 100%;
}
.stat-card .color-bar.fb {
  background-color: hsl(208, 92%, 53%);
}
.stat-card .color-bar.ig {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.stat-card .color-bar.tw {
  background-color: hsl(203, 89%, 53%);
}
.stat-card .color-bar.yt {
  background-color: hsl(348, 97%, 39%);
}
.stat-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 0.5em;
}
.stat-card .content .username {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-weight: 800;
}
.stat-card .content .username .social-icon {
  margin-right: 0.5em;
}
.stat-card .content .followers-cantity {
  font-size: 48px;
  font-weight: 700;
}
.stat-card .content .followers-title {
  letter-spacing: 3px;
  font-weight: 700;
}
.stat-card .content .followers-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-weight: 800;
}
.stat-card .content .followers-status.positive {
  color: hsl(163, 72%, 41%);
}
.stat-card .content .followers-status.negative {
  color: hsl(356, 69%, 56%);
}
.stat-card .content .followers-status img {
  margin-right: 0.5em;
}

h2.overview-container-title {
  padding: 1em 0;
  width: 99%;
  margin: 0 auto;
}

.overview-card-container {
  width: 80%;
}
.overview-card-container .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -moz-column-gap: 2em;
       column-gap: 2em;
  justify-items: center;
  width: 80%;
  margin: 0 auto;
  width: 100% !important;
}
@media screen and (min-width: 1026px) and (max-width: 1140px) {
  .overview-card-container .content {
    grid-template-columns: 1fr 1fr;
  }
}
.overview-card-container .overview-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em 2em;
  height: 125px;
  min-width: 250px;
  margin-bottom: 2em;
  border-radius: 7px;
}
.overview-card-container .overview-card .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.overview-card-container .overview-card .row .stat-name {
  font-weight: 700;
}
.overview-card-container .overview-card .row img {
  margin-right: 0.25em;
}
.overview-card-container .overview-card .row .stat-number {
  font-size: 2.5rem;
  font-weight: 700;
}
.overview-card-container .overview-card .row .overview-today {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-weight: 700;
}
.overview-card-container .overview-card .row .overview-today.positive {
  color: hsl(163, 72%, 41%);
}
.overview-card-container .overview-card .row .overview-today.negative {
  color: hsl(356, 69%, 56%);
}

@media screen and (min-width: 1440px) {
  /*
   H2 OVERVIEW CARD POSITION FIX AT DESKTOP
  */
  h2.overview-container-title {
    align-self: normal;
  }
  /*pushing up stat card and overview card container*/
  .stat-card-container {
    bottom: 4em;
  }
  .overview-card-container {
    position: relative;
    bottom: 4em;
  }
}
@media screen and (max-width: 1439px) {
  .overview-container-title {
    text-align: center;
  }
}
.mobile-header {
  width: 100%;
  padding: 3em 1.5em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.mobile-header h1 {
  font-size: 23px;
  margin-bottom: 0.25em;
}
.mobile-header .mobile-total-followers {
  font-weight: 700;
  padding-bottom: 1.5em;
}
.mobile-header .mobile-header-div-bar {
  border: 1px solid transparent;
}

#dark .mobile-header {
  background-color: hsl(232, 19%, 15%);
}
#dark h1 {
  color: hsl(0, 0%, 100%);
}
#dark .mobile-total-followers {
  color: hsl(228, 34%, 66%);
}
#dark .mobile-header-div-bar {
  border: 1px solid hsl(228, 28%, 20%);
}
#dark .theme-switch-container {
  color: hsl(228, 34%, 66%);
}

#light .mobile-header {
  background-color: hsl(225, 100%, 98%);
}
#light h1 {
  color: hsl(230, 17%, 14%);
}
#light .mobile-total-followers {
  color: hsl(228, 12%, 44%);
}
#light .mobile-header-div-bar {
  border: 1px solid rgba(204, 204, 204, 0.6274509804);
}
#light .theme-switch-container {
  color: hsl(228, 12%, 44%);
}

.desktop-header {
  width: 100%;
  height: 35vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.desktop-header .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 auto;
}
.desktop-header .content h1 {
  font-size: 23px;
  margin-bottom: 0.25em;
}
.desktop-header .content .desktop-total-followers {
  font-weight: 700;
  padding-bottom: 1.5em;
}
.desktop-header .content span.dark-mode {
  margin-right: 1em;
}

#dark .desktop-header {
  background-color: hsl(232, 19%, 15%);
}
#dark .content .desktop-total-followers {
  color: hsl(228, 34%, 66%);
}
#dark .content .desktop-total-followers .theme-switch-container {
  color: hsl(228, 34%, 66%);
}

#light .desktop-header {
  background-color: hsl(225, 100%, 98%);
}
#light .desktop-header .content h1 {
  color: hsl(230, 17%, 14%);
}
#light .desktop-header .content .desktop-total-followers {
  color: hsl(228, 12%, 44%);
}
#light .desktop-header .content .theme-switch-container {
  color: hsl(228, 12%, 44%);
}

#dark {
  background-color: hsl(230, 17%, 14%);
}
#dark h2.overview-container-title {
  color: hsl(0, 0%, 100%);
}
#dark .overview-card-container .overview-card {
  background-color: hsl(228, 28%, 20%);
}
#dark .overview-card-container .overview-card .row .stat-name {
  color: hsl(228, 34%, 66%);
}
#dark .overview-card-container .overview-card .row .stat-number {
  color: hsl(0, 0%, 100%);
}
#dark .stat-card {
  background-color: hsl(228, 28%, 20%);
}
#dark .stat-card .content .username,
#dark .stat-card .content .followers-title {
  color: hsl(0, 0%, 100%);
}
#dark .stat-card .content .followers-cantity {
  color: hsl(0, 0%, 100%);
}
#dark .overview-card {
  background-color: hsl(228, 28%, 20%);
}
#dark .overview-card .row .stat-name {
  color: hsl(228, 34%, 66%);
}
#dark .overview-card .row .stat-number {
  color: hsl(0, 0%, 100%);
}

#light {
  background-color: hsl(0, 0%, 100%);
}
#light .stat-card {
  background-color: hsl(227, 47%, 96%);
}
#light .stat-card .content .username, #light .stat-card .content .followers-title {
  color: hsl(228, 12%, 44%);
}
#light .stat-card .content .followers-cantity {
  color: hsl(230, 17%, 14%);
}
#light h2.overview-container-title {
  color: hsl(230, 17%, 14%);
}
#light .overview-card {
  background-color: hsl(227, 47%, 96%);
}
#light .overview-card .row .stat-name {
  color: hsl(228, 12%, 44%);
}
#light .overview-card .row .stat-number {
  color: hsl(230, 17%, 14%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(h1, h2) {
  font-size: 14px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.App .theme-switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 1.5em 0;
  font-weight: 700;
}
.App .theme-switch-container .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.App .theme-switch-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.App .theme-switch-container .switch input:checked + .slider {
  background: linear-gradient(to right, #ccc, #ccc);
}
.App .theme-switch-container .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.App .theme-switch-container .switch input:checked + .slider:before {
  transform: translateX(26px);
}
.App .theme-switch-container .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.2s;
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.App .theme-switch-container .switch .slider:before {
  background-color: hsl(232, 19%, 15%);
}
.App .theme-switch-container .switch .slider.round {
  border-radius: 34px;
}
.App .theme-switch-container .switch .slider.round:before {
  border-radius: 50%;
}
.App .theme-switch-container .switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
}/*# sourceMappingURL=main.css.map */