// INTER FONT IMPORT ////////////////////
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// SASS PARTIALS ////////////////////////
@import "var";
@import "mixin";
@import "statCard";
@import "overviewCard";
@import "responsive";
@import "mobileHeader";
@import "desktopHeader";
@import "darkTheme";
@import "lightTheme";

// CSS RESET ////////////////////////////
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(h1, h2){
  font-size: 14px;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  font-family: $font;
    .theme-switch-container{
      @include setFlex(row, center, space-between, nowrap);
      padding: 1.5em 0;
      font-weight: 700;
      // SWITCH BUTTON STYLES
      .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
        input {
          opacity: 0;
          width: 0;
          height: 0;
          &:checked + .slider {
            background:  linear-gradient(to right ,#ccc, #ccc);    
          }
          &:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
          }
          &:checked + .slider:before {
            transform: translateX(26px);
          }
        }
        .slider {
          position: absolute;
          &:before {
            background-color: $DT_VeryDarkBlueTOPBG;
          }
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transition: .2s;
          transition: .2s;
          background: linear-gradient(to right ,hsl(210, 78%, 56%), hsl(146, 68%, 55%));
          &.round {
            border-radius: 34px;
            &:before {
              border-radius: 50%;
            }
          }
          &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            -webkit-transition: .4s;
            transition: .4s;
          }
        }
      }
    }
  }




// .dt-primary-txt{
//   color: $DT_White;
// }

// .dt-seconday-txt{
//   color: $DT_DesaturatedBlue;
// }